.App {
  text-align: center;
  background-color: navy;
  color: aliceblue;
}
body {
  background-color: aliceblue;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0 auto;
  color: white;
  
}

nav Link {
  color: aliceblue;
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
}




h1 .{
  width: 304px;
  padding: 4px;
  margin: 4px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #5B616A;
  color: green;
  background-color: #275DAD;
  box-shadow: 2px 2px 2px #7B818A;
  transition: all 0.2s;
}

